body, html {
    margin: 0;
}

h1, h2 {
    text-align: center;
}

#borrow-form, #return-form {
    margin: 0 auto;
}

#get-another-one {
    display: block;
    margin: 1rem auto;
    cursor: pointer;
}

#available-components {
    margin: 3rem auto;
}

th, td {
    border: 1px solid black;
}